.App {font-family:"Cafe24SsurroundAir";}
:root { 
    --primary-color: #4C21D4;
    --primary-shadow-color: rgba(96, 27, 250, 0.3);
    --primary-hover-color: #601BFA;
}
@font-face{font-family:"Cafe24SsurroundAir";src:url(/src/assets/fonts/Cafe24SsurroundAir.ttf);}


body{background-color:#07021A;color:#fff;}
.wrapper{width:100%;height:100vh;font-family:'Cafe24SsurroundAir';}
.content-w{display:flex;justify-content:center;align-items:center;flex-direction:column;}

.pg-cont{padding:40px 0 110px;max-width:400px;margin:0 auto;text-align: center;}
.logo-img{width:100%;margin-top:30px}
.visual-img{width:100%}
.result--imagearea{width:100%;height:250px;background-color:var(--primary-color);background-image:url(../src/assets/bg.png);background-size:140% auto;border-bottom-right-radius: 40px;border-bottom-left-radius: 40px;}
.result-img{width:85%}
.result--title{margin-top:0;font-size:35px;font-weight: bold;text-align: center;}
.result--color{margin-top:25px;padding:20px;display:flex;border-radius:10px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;justify-content: center;}
.result--color span{display:inline-block;width:35px;height:35px;margin:0 3px;border-radius: 100px;font-size:0}
.result--code-box{position:relative;background:#181520;border-radius:10px;border-top-left-radius: 0;border-top-right-radius: 0; padding:20px;color:#999;font-size:14px}
.result--desc{margin-top:5px;padding:0 20px;font-size:19px}
.code-box{overflow:scroll;height:80px;text-align:left}
.ref-box{font-size:13px;color:#999;margin-top:6px}
.ref-box a{font-weight:bold;color:#999;border-radius:3px;text-decoration:none;}
.t-copy{display:inline-block;margin:0 0 30px 30px;font-size:12px;opacity: .5}
.git-mini{width:15px;}

/* type */
.txt--q{display:flex;position:relative;align-items: center; min-height:150px; margin:20px 0 40px;font-size:28px}
.txt--q:before{content: '';display:inline-block;width:30px;height:35px;position:absolute;top:-15px;left:0%;background-image:url(../src/assets/i-logo.png);background-size:100% auto;background-repeat: no-repeat;}

/* button */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {outline: none !important;outline-offset: none !important}
.btn-cta{width:100%;margin-top:50px;padding:20px 50px 17px;background-color:var(--primary-color);border:0;border-radius: 100px;font-weight: bold;font-size:30px}
.btn-cta:hover{background-color:var(--primary-hover-color);box-shadow: 0 5px 15px var(--primary-shadow-color)}
.btn-cta.share{margin-top:13px;background-color:#F4D635;color:#341D1D}
.btn-cta.share:hover{box-shadow: 0 5px 15px rgba(244, 214, 53, .5)}
.btn-cta.home{margin-top:80px}
.btn-question{margin-top:30px}
.btn-question button{width:100%;min-height:130px;margin:5px 0;padding:20px 25px;background-color:#1C1A26;border:0;border-radius:15px;font-weight:bold;font-size:20px;}
.btn-question button{-webkit-tap-highlight-color:transparent;}
.btn-question button:hover{background-color:var(--primary-color);}
.btn-question .btn-primary:focus, .btn-question .btn-primary:visited, .btn-question .btn-primary:focus-visible{background:#1C1A26;box-shadow: none;}
.btn-small{display:inline-block;position:absolute;top:15px;right:15px; padding:5px 8px 3px;background:none;border:1px solid #fff;border-radius: 5px;color:#fff;font-size:13px}
.btn-small:hover{background:#fff;color:var(--primary-hover-color);font-weight: bold;}

/* progress */
.progress{height:1.1rem;background:#171520;border-radius:0}
.bg-danger{background-color:var(--primary-color) !important}

/* tabs */
.nav-tabs{margin-top:10px;border-bottom:0;border-radius: 8px;overflow: hidden;background:#181520}
.nav-tabs .nav-link{border-radius:0}
.nav-tabs .nav-item{width:50%}
.nav-tabs .nav-item button{width:100%;color:#999;border:0}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background:#292333;color:#fff}

@media ( max-width: 460px ) {
    .pg-cont{max-width:100%;margin: 0 30px;}
    .btn-cta{font-size:22px}
    .btn-question button{font-size:17px}
    .result--imagearea{height: 220px}
    .result--title{font-size:30px}
    .result--desc{font-size:16px}
    .t-copy{margin:0 0 15px 15px}
  }

/* color */
.result--color.INTJ{background-color:rgb(11, 28, 44)}
.result--color.INTJ .cr1{background-color:#8B56BF}
.result--color.INTJ .cr2{background-color:#627E99}
.result--color.INTJ .cr3{background-color:#BF568B}
.result--color.INTJ .cr4{background-color:#CBD6E2}
.result--color.INTJ .cr5{background-color:#568BBF}
.result--color.INTP{background-color:rgb(16, 16, 16)}
.result--color.INTP .cr1{background-color:#B9B9B9}
.result--color.INTP .cr2{background-color:#7C7C7C}
.result--color.INTP .cr3{background-color:#F7F7F7}
.result--color.INTP .cr4{background-color:#B9B9B9}
.result--color.INTP .cr5{background-color:#7C7C7C}
.result--color.ENTJ{background:rgb(33, 33, 33)}
.result--color.ENTJ .cr1{background-color:#82AAFF}
.result--color.ENTJ .cr2{background-color:#C3E88D}
.result--color.ENTJ .cr3{background-color:#F07178}
.result--color.ENTJ .cr4{background-color:#FFFFFF}
.result--color.ENTJ .cr5{background-color:#FFCB6B}
.result--color.ENTP {background:rgb(0, 0, 0)}
.result--color.ENTP .cr1{background-color:#0066FF}
.result--color.ENTP .cr2{background-color:#33FF00}
.result--color.ENTP .cr3{background-color:#CC00FF}
.result--color.ENTP .cr4{background-color:#FF0000}
.result--color.ENTP .cr5{background-color:#FF0099}
.result--color.INFJ{background:rgb(28, 32, 35)}
.result--color.INFJ .cr1{background-color:#AE95C7}
.result--color.INFJ .cr2{background-color:#95AEC7}
.result--color.INFJ .cr3{background-color:#95C7AE}
.result--color.INFJ .cr4{background-color:#C795AE}
.result--color.INFJ .cr5{background-color:#F3F4F5}
.result--color.INFP{background:rgb(41, 42, 68)}
.result--color.INFP .cr1{background-color:#F1EFF8}
.result--color.INFP .cr2{background-color:#7AA5FF}
.result--color.INFP .cr3{background-color:#A0A0C5}
.result--color.INFP .cr4{background-color:#6DFEDF}
.result--color.INFP .cr5{background-color:#AE81FF}
.result--color.ENFJ{background:rgb(29, 31, 33)}
.result--color.ENFJ .cr1{background-color:#3971ED}
.result--color.ENFJ .cr2{background-color:#198844}
.result--color.ENFJ .cr3{background-color:#CC342B}
.result--color.ENFJ .cr4{background-color:#FFFFFF}
.result--color.ENFJ .cr5{background-color:#FBA922}
.result--color.ENFP{background:rgb(0, 0, 0)}
.result--color.ENFP .cr1{background-color:#00AABB}
.result--color.ENFP .cr2{background-color:#37B349}
.result--color.ENFP .cr3{background-color:#EB008A}
.result--color.ENFP .cr4{background-color:#FFFFFF}
.result--color.ENFP .cr5{background-color:#F8CA12}
.result--color.ISTJ{background:rgb(24, 24, 24)}
.result--color.ISTJ .cr1{background-color:#86C1B9}
.result--color.ISTJ .cr2{background-color:#A1B56C}
.result--color.ISTJ .cr3{background-color:#AB4642}
.result--color.ISTJ .cr4{background-color:#F8F8F8}
.result--color.ISTJ .cr5{background-color:#BA8BAF}
.result--color.ISFJ{background:rgb(25, 25, 25)}
.result--color.ISFJ .cr1{background-color:#639EE4}
.result--color.ISFJ .cr2{background-color:#4BB1A7}
.result--color.ISFJ .cr3{background-color:#84B97C}
.result--color.ISFJ .cr4{background-color:#B888E2}
.result--color.ISFJ .cr5{background-color:#DC657D}
.result--color.ESTJ {background:rgb(29, 32, 33)}
.result--color.ESTJ .cr1{background-color:#0D6678}
.result--color.ESTJ .cr2{background-color:#8BA59B}
.result--color.ESTJ .cr3{background-color:#95C085}
.result--color.ESTJ .cr4{background-color:#8F4673}
.result--color.ESTJ .cr5{background-color:#FB543F}
.result--color.ESFJ{background:#485867}
.result--color.ESFJ .cr1{background-color:#B0C5C8}
.result--color.ESFJ .cr2{background-color:#868CB3}
.result--color.ESFJ .cr3{background-color:#86B3B3}
.result--color.ESFJ .cr4{background-color:#87B386}
.result--color.ESFJ .cr5{background-color:#B38686}
.result--color.ISTP {background:#202746}
.result--color.ISTP .cr1{background-color:#22A2C9}
.result--color.ISTP .cr2{background-color:#AC9739}
.result--color.ISTP .cr3{background-color:#6679CC}
.result--color.ISTP .cr4{background-color:#C94922}
.result--color.ISTP .cr5{background-color:#979DB4}
.result--color.ISFP {background:#FBF1F2}
.result--color.ISFP .cr1{background-color:#69A9A7}
.result--color.ISFP .cr2{background-color:#A3B367}
.result--color.ISFP .cr3{background-color:#BB99B4}
.result--color.ISFP .cr4{background-color:#D57E85}
.result--color.ISFP .cr5{background-color:#8B8198}
.result--color.ESTP{background:#19171C}
.result--color.ESTP .cr1{background-color:#2A9292}
.result--color.ESTP .cr2{background-color:#955AE7}
.result--color.ESTP .cr3{background-color:#BE4678}
.result--color.ESTP .cr4{background-color:#EFECF4}
.result--color.ESTP .cr5{background-color:#A06E3B}
.result--color.ESFP{background:#231F20}
.result--color.ESFP .cr1{background-color:#85CEBC}
.result--color.ESFP .cr2{background-color:#00853E}
.result--color.ESFP .cr3{background-color:#98005D}
.result--color.ESFP .cr4{background-color:#EE2E24}
.result--color.ESFP .cr5{background-color:#FFD204}

